#result_form {
    position: fixed;
    top: -1000rem;
    left: 0;
    min-height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

#result_form form {
    margin: 2rem;
    padding: 5px;
    border-radius: .5rem;
    background: #fff;
    width: 40rem;
    height: 30rem;
}

.row1 {
    height: 5%;
    display: flex;
    background-color: #52b788;
    font-weight: bold;
    padding-left: 1rem;
    align-items: center;
    color: white;
}

.row2 {
    height: 85%;
    display: block;
    background-color: whitesmoke;
    padding: 1rem 0 0 1rem;
}

.row3 {
    height: 10%;
    display: block;
    background-color: #d8e2dc;
    padding-left: .5rem;
}

.dark_overlay {
    background-color: rgba(0, 0, 0, 0.5);
}

.active {
    top: 0;
}

.info1 {
}

.info2 {
}

.border-style {
    border: 1px solid black !important;
}

label {
    font-weight: bold;
    font-size: 15px;
}


