body {
    font-family: 'Barlow',-apple-system,BlinkMacSystemFont,system-ui,sans-serif;
    background: #0e3754 url(https://static.testrail.io/7.8.0.1141/images/theme-modern/layout/structureBG.svg) 50% 0 no-repeat;
    background-size: initial;
    margin: 0 auto;
    text-align: center;
    width: 520px;
}

.loginpage-form {
    padding-top: 50px!important;
    width: 360px;
    padding-left: 60px;
}


a, a:link, a:active, a:visited, a:hover {
    color: #5993bc;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}

.logo-loginpage {
    background: url(https://static.testrail.io/7.8.0.1141/images/theme-modern/layout/testrail.svg) center center no-repeat;
    background-size: 154px 31px;
    width: 360px;
    height: 60px;
    display: block;
}

#form-inner {
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    border-radius: 4px
}

.loginpage-installationname {
    font-size: 24px;
    font-weight: 600;
    padding-top: 26px;
    margin: 5px 30px 0 30px;
}
.loginpage-login-text {
    font-size: 18px;
    height: 23px;
    text-align: center;
    width: 320px;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
#content {
    padding: 10px 20px 20px;
    text-align: left;
}
.form-group {
    margin-bottom: 18px;
}
.login-input {
    font-size: 14px;
    padding: 4px 0;
    display: block;
    width: 300px;
    outline: 0;
    margin-bottom: 12px;
    background-color: transparent;
    border: 0;
    border-bottom: solid 1px #9b9b9b;
}
.login-inputx {
    padding-top: 1.75em;
    position: relative;
    height: 22px;
    margin-top: -3px;
    margin-left: 10px;
}


.login-label {
    position: absolute;
    font-size: 14px;
    color: #9b9b9b;
    top: 0.8em;
    -webkit-transition: all .125s ease;
    -moz-transition: all .125s ease;
    transition: all .125s ease;
}

.loginpage-forgotpassword {
    float: right;
    font-size: 11px;
    margin: -19px 10px;
    color: #1c94c4!important;
}

.loginpage-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-left: 12px;
    margin-bottom: 20px;
    margin-top: -10px;
    cursor: pointer;
    font-size: 14px;
    float: left;
    padding-left: 21px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.loginpage-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 12px;
    width: 12px;
    border: solid 1px #9b9b9b;
}

.loginpage-container .loginpage-checkmark:after {
    left: 3px;
    top: 0;
    width: 2px;
    height: 7px;
    border: solid black;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.loginpage-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.loginpage-button-sso-disable {
    width: 300px;
    outline: 0;
    background-color: #376789!important;
    color: white!important;
    text-align: center;
    padding: 12px;
    margin: -8px 10px 12px 10px;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
}

input[type=checkbox] {
    position: relative;
    cursor: pointer;
    width: 15px;
    height: 15px;
    top: 0;
    left: 0;
    background-color: #fffff0;
    border-radius: 0;
    border: 1px solid #b6c4f4;
}

input[type=checkbox]:checked:before {
    content: "";
    display: block;
    position: absolute;
    width: 13px;
    height: 13px;
    top: 0;
    left: 0;
    background-color: #1e80ef;
    border-radius: 15%;
    border: 1px solid #cacaca;
}

input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 2px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 6px;
}

.loginpage-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.loginpage-container input:checked~.loginpage-checkmark:after {
    display: block;
}

.display-flex{
    display: flex;
    padding-top: 15px;
    justify-content: flex-end;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 17rem;
    text-align: center;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}