.left-tab li .item-selected{
    color: #eaf1f7!important;
    border-bottom: 3px solid #eaf1f7;
}

.overflow-content {
    overflow: unset;
}

.content {
    overflow: auto;
}

.content {
    background: #eaf1f7;
}

.column {
    display: table-cell;
    vertical-align: top;
    padding: 0;
}

div {
    border: 0;
    font: inherit;
    margin: 0;
    /* padding: 0; */
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

.content-header-default {
    border-bottom: 1px solid #d2e2ed;
    height: auto;
}

.content-header-inner {
    padding: 10px 15px;
}

.content-header-result {
    display: none;
    width: 22px;
    height: 22px;
    float: left;
    margin-right: 8px;
    border-radius: 13px;
    border: 1px solid #aecade;
}

.content-header-title {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 19px;
    line-height: 25px;
    color: #111;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.content-header-default {
    border-bottom: 1px solid #d2e2ed;
    height: auto;
}

.goals-clear {
    padding-bottom: 125px;
}

.content-inner {
    padding: 18px 15px 30px 15px;
}

body {
    color: #202020;
}

.width-4 {
    width: 4%;
}

.top {
    margin-top: 0!important;
}

h1 {
    font-size: 17px;
    height: 26px;
    line-height: 26px;
    padding: 0;
    margin-bottom: 1em;
    font-weight: 600;
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h1::after {
    content: '';
    display: block;
    width: 30px;
    height: 3px;
    border-bottom: 3px solid #aecade;
}

.select-checkbox-details {
    padding: 0 4px 10px 5px;
}

.select-checkbox {
    margin: 5px 15px 5px 5px;
    float: left;
}

span {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

input[type=checkbox] {
    position: relative;
    cursor: pointer;
    width: 15px;
    height: 15px;
    top: 0;
    left: 0;
    background-color: #fffff0;
    border-radius: 0;
    border: 1px solid #b6c4f4;
}

input {
    font-family: 'Barlow',-apple-system,BlinkMacSystemFont,system-ui,sans-serif;
    margin: 0;
    padding: 0;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-rtl-ordering: logical;
}

input[type="checkbox" i] {
    appearance: auto;
    box-sizing: border-box;
}

input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 13px;
    height: 13px;
    top: 0;
    left: 0;
    background-color: #fffff0;
    border-radius: 15%;
    border: 1px solid #b6c4f4;
    cursor: pointer;
}

.select-checkbox-label {
    float: left;
    padding: 6px 0;
}

.table {
    border-radius: 4px;
    table-layout: fixed;
    display: table;
    width: 100%;
}

.flex-runs-row {
    display: flex;
}

.row {
    background: #fff;
    margin-bottom: 8px;
    border-radius: 4px;
    padding: 4px 0;
}

.select-checkbox-flex-medium {
    margin: 25px 9px;
}

.flex-runs-1-medium {
    order: 0;
}


.summary-column {
    padding-bottom: 0;
}

.column {
    display: table-cell;
    vertical-align: top;
    padding: 0;
    margin: 0;
}

.icon-run-32 {
    background: url(https://static.testrail.io/7.8.0.1141/images/theme-modern/app/run32.svg) center no-repeat;
}

.summary-column-icon-compact {
    width: 45px;
}

.summary-column-first {
    border-top: 0;
    padding-top: 0;
}

.flex-runs-2-medium {
    order: 1;
    flex-grow: 1;
    max-width: calc(100% - 240px);
}

.summary-title-compact {
    font-size: 14px;
    padding-bottom: 1px;
}

.summary-title {
    padding: 5px 0 1px 0;
}

.text-ppp {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.summary-title a, .summary-title-compact a {
    color: #111;
    font-weight: 600;
}

a, a:link {
    color: #5993bc;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}

a {
    outline: 0;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

.text-ppp {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.summary-description-compact {
    margin-top: 6px;
    padding-bottom: 4px;
}

.text-secondary {
    color: #707070;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
}

.flex-runs-3-medium {
    order: 2;
    padding: 20px 0;
}

.summary-column-bar {
    width: 185px;
    vertical-align: middle;
}

.column {
    display: table-cell;
    margin: 0;
}

.summary-column-bar .table {
    border: 0;
}

.table {
    border-radius: 4px;
    table-layout: fixed;
    display: table;
    width: 100%;
}

.chart-bar-percent {
    color: #333;
    font-size: 16px;
    line-height: 21px;
    text-align: right;
    width: 50px;
}

.column-delete-run-medium-first {
    padding: 25px 10px 27px 15px;
}

.flex-milestones-3-medium {
    order: 2;
}

#open .hoverSensitive .icon-small-delete {
    margin-top: 16px;
}

.icon-small-delete {
    background: url(https://static.testrail.io/7.8.0.1141/images/theme-modern/icons/smallDelete.svg) center no-repeat;
    height: 12px;
    width: 12px;
}

.icon-plan-32 {
    background: url(https://static.testrail.io/7.8.0.1141/images/theme-modern/app/plan32.svg) center no-repeat;
}

a, a:visited {
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}

.summary-column-bar .table, .chart .table {
    border: 0;
}

h2 {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 1em;
    border-bottom: 1px solid #aecade;
    padding: 5px 0 10px;
    color: #376789;
    text-decoration: none;
    font: inherit;
    vertical-align: baseline;
    border: 0;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.clear {
    clear: both;
}

.timeline {
    margin-top: 10px;
    position: relative;
    padding-bottom: 5px;
}

.timeline::before {
    position: absolute;
    top: 0;
    height: 100%;
    content: "";
    background: #d2e2ed;
    width: 2px;
    left: 17px;
}

.timeline-item:last-child {
    margin-bottom: 0;
}

.timeline-item {
    position: relative;
}

.timeline-item-icon-past {
    background: #eee url(https://static.testrail.io/7.8.0.1141/images/theme-modern/icons/past.svg) center no-repeat;
    border-color: #ccc;
}

.timeline-item-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 2px solid #aecade;
}

.timeline-item-content {
    position: relative;
    margin-left: 50px;
    padding-top: 8px;
}

h3 {
    margin-top: 5px;
    padding-top: 1px;
    margin-bottom: 1em;
    padding: 2px 0;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    margin: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h3>.title {
    border-bottom: 1px solid #aecade;
}

table.grid {
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: 3px;
}

.run-grid {
    table-layout: auto;
    min-width: 900px;
}

.grid {
    background: #fff;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 0;
}

colgroup {
    display: table-column-group;
}

col {
    display: table-column;
}

.grid col.percent {
    width: 60px;
}

tbody {
    margin: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    display: table-row-group;
}

.grid tr:last-child {
    border-radius: 0 0 4px 4px;
}

tr {
    margin: 0;
    border: 0;
    font: inherit;
    display: table-row;
    vertical-align: baseline;
}

.grid tr:last-of-type td:first-child {
    border-bottom-left-radius: 4px;
}

.grid tr:first-of-type td:first-child {
    border-top-left-radius: 4px;
}

.grid tr:last-child td {
    border-bottom: 1px solid #fff;
}

tr.odd td {
    background-color: #f9f9f9;
}

.grid td {
    font-weight: 400;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 9px;
    margin: 0;
    text-align: left;
    line-height: 1.1;
}

td {
    border: 0;
    font: inherit;
    display: table-cell;
}

a:hover {
    text-decoration: underline;
}

