<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/login.css}">
  <title>Login - TestRail</title>
</head>
<body>
<div id="form" class="loginpage-form">
  <div class="logo loginpage-logo">
    <a href="http://www.gurock.com/testrail/" target="_blank" class="logo-loginpage"></a>
  </div>
  <div id="form-inner">
    <h1 class="loginpage-installationname">TestRail QA</h1>
    <div id="content">
      <h1 class="loginpage-login-text">Log into Your Account</h1>
      <br>
      <p th:if="${loginError}" class="alert alert-danger" role="alert">Wrong email or password or account has not enabled</p>
      <form th:action="@{/login}" method="post">
        <div class="form-group" style="padding-bottom:10px">
          <div class="login-inputx">
            <input id="email" class="login-input input-noempty" type="text" name="email">
            <label for="email" class="login-label">Email</label>
          </div>
        </div>
        <div class="form-group" style="padding-bottom:10px; margin-top: -9px;">
          <div class="login-inputx">
            <input id="password" class="login-input input-noempty" type="password" name="password" autocomplete="new-password" >
            <label for="password" class="login-label">Password</label>
          </div>
        </div>
        <div class="form-group" style="padding-bottom:10px; margin-top: -9px;">
          <div class="login-inputx">
            <input id="2facode" class="login-input input-noempty" type="text" name="2facode" >
            <label for="2facode" class="login-label">2FA code from your authenticator app</label>
          </div>
        </div>

        <div class="display-flex" style=" margin-bottom:10px;">
          <div style="float:left;">
          </div>
          <a th:href="@{/register}" class="loginpage-forgotpassword" style="margin-bottom:10px; font-size: 1rem">Don't have an account? Register</a>
        </div>
        <div class="display-flex" style=" margin-bottom:40px;">
          <div style="float:left;">
          </div>
          <a th:href="@{/forgot_password}" class="loginpage-forgotpassword" style="margin-bottom:10px; font-size: 1rem">Forgot your password?</a>
        </div>
        <button type="submit" id="button_primary" class="loginpage-button-sso-disable loginpage-button-sso-disable-hover  loginpage-button-sso-disable-active">
          <span class="single-sign-on">Log In</span>
        </button>
      </form>
    </div>
  </div>
</div>
</body>
</html>